.detail-component .user-modal-container {
  display: block;
  max-width: none;
  border-radius: 5px;
  overflow: hidden;
}

.detail-component .details-info-header {
  background-size: cover;
  background-position: center;
  height: 200px;
}

.detail-component .details-info-header h1{
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  display: block;
  float: left;
  clear: both;
  margin-top: 100px;
  padding: 5px;
}
.detail-component .details-info-header h2{
  font-size: 18px;
  line-height: 24px;
  display: block;
  float: left;
  clear: both;
  padding: 5px;
}

.detail-component .details-info-header h1,
.detail-component .details-info-header h2
{
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  backdrop-filter:blur(3px);
}

.detail-component .details-info-header .rating {
  color:#fff;
  text-shadow: none;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.detail-component .details-info-body {
  display: flex;
}
.detail-component .details-info-comments {
  flex: 1;
  margin-left: 10px;
}
.detail-component .map-preview {
  border-bottom:solid 3px #ff0000;
}
.details-info-body {
  margin: 10px;
}

.details-info-footer {
  background: linear-gradient(to bottom, #ffffff 45%,#e5e5e5 100%);
}

.comment-list-component > h3 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
  display: inline-block;
  border-bottom: solid 3px #333;
  text-transform: uppercase;
  padding: 0 5px;
  color: #444;

}

.comment-list-component .comment-item {
  background: url('/public/img/user.svg') no-repeat;
  background-position: 10px 10px;
  background-size: 24px 24px;
  text-indent: 40px;
  padding: 10px 40px 10px 10px;
  border-bottom: dotted 1px #eee;
}
.comment-list-component .comment-item span {
  display: block;
  margin-bottom: 20px;
}
.comment-list-component .items {
  max-height: 250px;
  overflow: auto;
}
.comment-list-component .comment-item span strong {
  font-weight: bold;
}

.comment-list-component .comment-item blockquote {
  margin-left: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-left: solid 2px #ccc;
}

.comment-list-component .new-comment textarea{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: solid thin #e50303;
  font-size: 14px;
  line-height: 16px;
  height: 70px;
  outline: none;
  padding: 5px;
}

.comment-list-component .new-comment .post-comment-button {
  margin-left: 0;
}

@media (max-width:600px) {
  .detail-component .map-preview {
    display: none;
  }

  .details-info-comments {
    margin-left: 0;
  }
}
